<!--
  Generated template for the CameraListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Minhas Fotos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h3>Lista de Fotos</h3>
    <div *ngFor="let photo of photos">
      <img src="{{photo.url}}" alt="">
    </div>

</ion-content>
