<!--
  Generated template for the CameraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>camera</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>Camera</h3>
  <button ion-button (click)="choosePhoto()"> Enviar foto </button>
  <img src="{{myPhoto}}">
  <button ion-button (click)="saveImage()">Salvar</button>
</ion-content>
